<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Badescarf - Şal & Eşarp | Şal  Eşarp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="img/core-img/favicon.ico">
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/stylesheets/core-style.css">


    <!-- Responsive CSS -->
    <link href="/stylesheets/responsive.css" rel="stylesheet">
</head>
<body>

<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>TÜM ÜRÜNLER</h6>
            <ul id="menu-content" class="menu-content collapse out">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#sal" class="collapsed active">
                    <a href="#">ŞAL<span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="sal">
                        <li><a href="#">İpek Twill</a></li>
                        <li><a href="#">Ellen Pamuk</a></li>
                        <li><a href="#">Daria Caz</a></li>
                        <li><a href="#">Bürümcük Bubble Mio</a></li>
                        <li><a href="#">Krinkıl</a></li>
                        <li><a href="#">Medine İpeği</a></li>
                        <li><a href="#">Rayon</a></li>
                        <li><a href="#">Penye Natural Krep</a></li>
                        <li><a href="#">Dream Gofre Desen</a></li>
                        <li><a href="#">Omuz ve Boyun Şalı</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#esarp" class="collapsed">
                    <a href="#">EŞARP<span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="esarp">
                        <li><a href="#">Hint Kaşmiri</a></li>
                        <li><a href="#">Alisya Pamuk</a></li>
                    </ul>
                </li>

                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#paket" class="collapsed">
                    <a href="#">HEDİYE KUTU<span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="paket">
                        <li><a href="#">Bürümcük Bubble</a></li>
                        <li><a href="#">Dream Gofre Desen</a></li>
                        <li><a href="#">Alisya Pamuk</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#aksesuar" class="collapsed">
                    <a href="#">AKSESUAR<span class="arrow"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-8">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                            <div class="top_logo">
                                <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                            </div>
                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <!-- Cart Area -->
                               <div class="cart">
                                    <a href="#" id="header-cart-btn" target="_blank"><i class="ti-search"></i></a>
                                    <!-- Cart List Area Start -->
                                </div>

                                <div class="cart">
                                    <a href="#" id="header-cart-btn" target="_blank"><i class="ti-heart"></i></a>
                                </div>

                                <div class="header-right-side-menu">
                                    <a href="#" id="sideMenuBtn" target="_blank"><i class="ti-bag" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 d-md-flex justify-content-between">
                        <!-- Header Social Area -->
                        <div class="header-social-area">
                            <a href="#"><span class="karl-level">PAYLAŞ</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <!-- Menu Area -->
                        <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="/">ANASAYFA</a></li>
                                        <li class="nav-item"><a class="nav-link" href="sal">ŞAL</a></li>
                                        <li class="nav-item"><a class="nav-link" href="esarp">EŞARP</a></li>
                                        <li class="nav-item"><a class="nav-link" href="hediyekutu"><span class="karl-level">YENİ</span>HEDİYE KUTU</a></li>
                                        <li class="nav-item"><a class="nav-link" href="aksesuar">AKSESUAR</a></li>


                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HESABIM</a>
                                            <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                <% if(!currentUser){ %>
                                                <a class="dropdown-item" href="/signin">Giriş Yap</a>
                                                <a class="dropdown-item" href="/signup">Kaydol</a>
                                                <% }else{ %>
                                                <a class="dropdown-item" href="/admin"><%=currentUser.username%></a>

                                                <a class="dropdown-item" href="/signout">Çıkış Yap</a>
                                                <% } %>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </nav>
                        </div>
                        <!-- Help Line -->
                        <div class="help-line">
                            <a href="#"><i class="ti-headphone-alt "></i> CANLI YARDIM </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->


    <!-- ****** Top Discount Area Start ****** -->
    <section class="top-discount-area d-md-flex align-items-center">
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>ÜCRETSİZ KARGO</h5>
            <h6><a href="#">SATIN AL</a></h6>
        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>HEDİYE KUTU %10 İNDİRİMLE</h5>
            <h6><a href="#">SATIN AL</a></h6>

        </div>
        <!-- Single Discount Area -->
        <div class="single-discount-area">
            <h5>HIZLI TESLİMAT</h5>
            <h6><a href="#">SATIN AL</a></h6>
        </div>
    </section>
    <!-- ****** Top Discount Area End ****** -->
